@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.wdth {
  width: 55%;
}
.hgt75 {
  height: 75vh;
}
.hgt-inherit {
  height: inherit;
}
.bg-whte {
  background: #000000 !important;
}
.gradient-border {
  border: 1.5px solid;
  border-image-source: linear-gradient(
    180deg,
    #869ffb 100%,
    rgba(54, 97, 255, 0.44) 44%,
    #3661ff 100%
  );
  border-image-slice: 1;
}

.left-54 {
  left: 55.1%;
}

.top-97 {
  top: 97%;
}

.bg-img {
  background-image: url("./assets/Footer.png");
}

.w-93 {
  width: 93%;
}

.w-378 {
  width: 631px;
}
.left-27{
  left: 27%;
}
.top-227{
  top:192%;
}
.left-54{
  left: 54%;
}
.top-300{
  top: 217%;
}
.top-350{
  top:222.9%;
}
.left-37{
  left:37%;
}
.left-62{
  left:62%;
}

@media (max-width: 778px) {
  .custom-hidden {
    display: none;
  }
}
